<div class="panel-backdrop" (click)="closed.emit()"></div>
<div class="panel-sheet" role="dialog" aria-modal="true" aria-labelledby="diet-preview-title">
  <div class="panel-handle"></div>

  <header class="panel-header">
    <div class="panel-heading">
      <h3 class="panel-title" id="diet-preview-title">{{ template?.name }}</h3>
      <p class="panel-sub">{{ 'DIET_TEMPLATES.VISTA_PREVIA_SOLO_LECTURA' | translate }}</p>
    </div>
    <button
      type="button"
      class="panel-close"
      #closeButton
      (click)="closed.emit()"
      [attr.aria-label]="'DIET_TEMPLATES.CERRAR_VISTA_PREVIA' | translate"
    >
      <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
    </button>
  </header>

  <div class="panel-body">
    <!-- Resumen de la plantilla: el mismo perfil que enseña su card. -->
    <section class="summary" *ngIf="(template?.macroProfile && hasAnyFood) || flags.length">
      <ng-container *ngIf="template?.macroProfile && hasAnyFood">
        <ng-container
          *ngTemplateOutlet="macroTags; context: { $implicit: template?.macroProfile }"
        ></ng-container>
        <p class="summary-note">
          {{ menuCount === 1 ? ('DIET_TEMPLATES.1_MENU' | translate) : ('DIET_TEMPLATES.MEDIA_DE_LOS' | translate) + menuCount + ('DIET_TEMPLATES.MENUS' | translate) }}
        </p>
      </ng-container>
      <div class="summary-flags" *ngIf="flags.length">
        <span class="summary-flag" *ngFor="let f of flags">
          <ion-icon [name]="flagIcon(f)" aria-hidden="true"></ion-icon>
          {{ flagLabel(f) }}
        </span>
      </div>
    </section>

    <p class="panel-empty" *ngIf="!hasAnyFood">{{ 'DIET_TEMPLATES.ESTA_PLANTILLA_TODAVIA_NO_TIENE' | translate }}</p>

    <section class="menu" *ngFor="let menu of menus">
      <header class="menu-head">
        <h4 class="menu-name">{{ menu.name }}</h4>
        <ng-container *ngIf="menu.totals as t">
          <ng-container *ngTemplateOutlet="macroTags; context: { $implicit: t }"></ng-container>
        </ng-container>
      </header>
      <p class="menu-note" *ngIf="menu.averaged">{{ 'DIET_TEMPLATES.LAS_COMIDAS_CON_OPCIONES_CUENTAN' | translate }}</p>

      <p class="menu-empty" *ngIf="!menu.meals.length">{{ 'DIET_TEMPLATES.MENU_VACIO' | translate }}</p>

      <div class="meal" *ngFor="let meal of menu.meals">
        <h5 class="meal-slot">{{ meal.slot | translateDb }}</h5>

        <div class="alt" *ngFor="let alt of meal.alternatives; let a = index">
          <span class="alt-label" *ngIf="meal.alternatives.length > 1">
            <ion-icon name="swap-horizontal-outline" aria-hidden="true"></ion-icon>
            {{ alternativeLabel(alt, a, meal.alternatives.length) }}
          </span>

          <ul class="foods">
            <li class="food" *ngFor="let item of alt.items">
              <span class="food-name">{{ itemLabel(item) }}</span>
              <span class="food-qty" *ngIf="item.quantity">{{ item.quantity }}g</span>
            </li>
          </ul>

          <ng-container *ngIf="alt.totals as t">
            <ng-container *ngTemplateOutlet="macroTags; context: { $implicit: t }"></ng-container>
          </ng-container>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #macroTags let-t>
  <span class="macros">
    <span class="macro-tag macro-tag--kcal">{{ t.kcal | localNumber: '1.0-0' }} kcal</span>
    <span class="macro-tag macro-tag--protein">P {{ t.protein | localNumber: '1.0-0' }}g</span>
    <span class="macro-tag macro-tag--carbs">C {{ t.carbs | localNumber: '1.0-0' }}g</span>
    <span class="macro-tag macro-tag--fat">G {{ t.fat | localNumber: '1.0-0' }}g</span>
  </span>
</ng-template>
