<ion-header class="ion-no-border">
  <app-page-header [title]="'TRAINER_COMMON.CLIENTS' | translate">
    <ng-container pageActions>
      <!-- Con texto: un icono de persona con un "+" no dice si añade un
           cliente, lo invita o abre su agenda. -->
      <button type="button" class="header-add-btn" (click)="goToInvite()">
        <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
        {{ 'TRAINER_COMMON.CLIENT' | translate }}
      </button>
    </ng-container>
  </app-page-header>
</ion-header>

<ion-content class="clients-content" appScrollMemory="clients">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Vista única: la Cartera. El listado plano mostraba los mismos
       clientes sin ninguna de las cifras por las que se decide a quién
       atender, así que era una versión peor de lo mismo. -->
  <app-client-roster></app-client-roster>
</ion-content>
