<div class="custom-question">
  <div class="custom-question-head">
    <input
      #labelInput
      class="custom-question-input"
      type="text"
      maxlength="200"
      [placeholder]="'CUSTOM_QUESTION.LABEL_PLACEHOLDER' | translate"
      [(ngModel)]="question.label"
      [attr.aria-label]="('CUSTOM_QUESTION.LABEL_ARIA' | translate) + position"
    />
    <button
      *ngIf="removable"
      type="button"
      class="custom-question-remove"
      (click)="remove.emit()"
      [attr.aria-label]="('CUSTOM_QUESTION.REMOVE_ARIA' | translate) + position"
    >
      <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
    </button>
  </div>

  <div class="custom-question-row">
    <ion-select
      class="tf-select custom-question-select"
      interface="popover"
      toggleIcon="chevron-down-outline"
      labelPlacement="stacked"
      [(ngModel)]="question.type"
      (ngModelChange)="onTypeChange()"
      [attr.aria-label]="('CUSTOM_QUESTION.TYPE_ARIA' | translate) + position"
    >
      <ion-select-option *ngFor="let type of questionTypes" [value]="type.key">{{ type.label }}</ion-select-option>
    </ion-select>

    <input
      *ngIf="question.type === 'number'"
      class="custom-question-input custom-question-input--narrow"
      type="text"
      maxlength="20"
      [placeholder]="'CUSTOM_QUESTION.UNIT' | translate"
      [(ngModel)]="question.unit"
      [attr.aria-label]="('CUSTOM_QUESTION.UNIT_ARIA' | translate) + position"
    />

    <button
      type="button"
      class="required-toggle"
      [class.required-toggle--on]="question.required"
      (click)="question.required = !question.required"
      role="switch"
      [attr.aria-checked]="!!question.required"
    >
      {{ 'CUSTOM_QUESTION.REQUIRED' | translate }}
    </button>
  </div>

  <p class="custom-question-hint">{{ hint }}</p>

  <!-- Opciones, solo para el tipo selector -->
  <div class="option-editor" *ngIf="question.type === 'select'">
    <div class="option-row" *ngFor="let option of question.options; let o = index; trackBy: trackByIndex">
      <input
        #optionInput
        class="custom-question-input"
        type="text"
        maxlength="60"
        [placeholder]="'CUSTOM_QUESTION.OPTION' | translate"
        [(ngModel)]="question.options![o]"
        [attr.aria-label]="('CUSTOM_QUESTION.OPTION_ARIA' | translate) + (o + 1)"
      />
      <button
        type="button"
        class="custom-question-remove"
        (click)="removeOption(o)"
        [attr.aria-label]="('CUSTOM_QUESTION.REMOVE_OPTION_ARIA' | translate) + (o + 1)"
      >
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </button>
    </div>
    <button type="button" class="add-option-button" *ngIf="(question.options?.length || 0) < maxOptions" (click)="addOption()">
      <ion-icon name="add-outline" aria-hidden="true"></ion-icon>{{ 'CUSTOM_QUESTION.ADD_OPTION' | translate }}
    </button>
  </div>
</div>
