<ion-split-pane contentId="tf-main-content" when="md" class="app-split-pane" [class.app-split-pane--collapsed]="collapsed">
  <ion-menu contentId="tf-main-content" type="overlay" class="app-menu" [class.app-menu--collapsed]="collapsed" side="start">
    <ion-content class="app-menu-content">
      <div class="app-brand-row">
        <div class="app-brand">
          <span class="app-brand-mark">TF</span>
          <span class="app-brand-name" *ngIf="!collapsed">TrainFit Pro</span>
        </div>
        <button
          type="button"
          class="collapse-toggle"
          (click)="toggleCollapsed()"
          [attr.aria-label]="collapsed ? 'Expandir menú' : 'Contraer menú'"
          [attr.aria-expanded]="!collapsed"
        >
          <ion-icon [name]="collapsed ? 'chevron-forward-outline' : 'chevron-back-outline'" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <nav aria-label="Navegación principal" class="app-menu-nav">
        <ion-menu-toggle *ngFor="let item of menuItems" auto-hide="false">
          <a
            class="menu-item"
            [routerLink]="item.path"
            routerLinkActive="menu-item--active"
            #rla="routerLinkActive"
            [routerLinkActiveOptions]="item.routerLinkActiveOptions"
            [attr.aria-current]="rla.isActive ? 'page' : null"
            [title]="collapsed ? item.label : null"
          >
            <ion-icon [name]="item.icon" aria-hidden="true"></ion-icon>
            <span *ngIf="!collapsed">{{ item.label }}</span>
            <span
              class="menu-item-badge"
              *ngIf="item.badgeCount"
              [title]="collapsed ? item.badgeCount + ' cliente(s) esperando revisión' : null"
            >{{ item.badgeCount }}</span>
          </a>
        </ion-menu-toggle>
      </nav>

      <div class="app-menu-footer">
        <a class="footer-user" routerLink="/tabs/account" [title]="collapsed ? 'Mi cuenta' : null">
          <span class="footer-user-avatar"><ion-icon name="person" aria-hidden="true"></ion-icon></span>
          <span class="footer-user-label" *ngIf="!collapsed">Mi cuenta</span>
        </a>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="tf-main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-split-pane>
