<ion-split-pane contentId="tf-main-content" when="md" class="app-split-pane">
  <ion-menu contentId="tf-main-content" type="overlay" class="app-menu" side="start">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <div class="app-brand">
          <span class="app-brand-mark">TF</span>
          <span class="app-brand-name">TrainFit</span>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="app-menu-content">
      <nav aria-label="Navegación principal" class="app-menu-nav">
        <div class="menu-group" *ngFor="let group of menuGroups">
          <h2 class="menu-group-label">{{ group.label }}</h2>

          <ion-menu-toggle *ngFor="let item of group.items" auto-hide="false">
            <a
              class="menu-item"
              [routerLink]="item.path"
              routerLinkActive="menu-item--active"
              #rla="routerLinkActive"
              [routerLinkActiveOptions]="item.routerLinkActiveOptions"
              [attr.aria-current]="rla.isActive ? 'page' : null"
            >
              <ion-icon [name]="item.icon" aria-hidden="true"></ion-icon>
              <span>{{ item.label }}</span>
            </a>
          </ion-menu-toggle>
        </div>
      </nav>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="tf-main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-split-pane>
