<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'PLANNER.ELEGIR_PLANTILLA' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="template-picker-content">
  <div class="input-wrapper">
    <ion-icon name="search-outline" class="input-icon"></ion-icon>
    <input
      type="text"
      class="input-field"
      [placeholder]="'PLANNER.BUSCAR_POR_NOMBRE_ETIQUETA' | translate"
      [(ngModel)]="search"
      (ngModelChange)="onSearchChange()"
      autofocus
    />
  </div>

  <div class="templates-empty" *ngIf="filteredTemplates.length === 0">
    <ion-icon name="albums-outline"></ion-icon>
    <p>{{ 'PLANNER.NINGUNA_PLANTILLA_COINCIDE_CON' | translate }}{{ search }}".</p>
  </div>

  <button
    type="button"
    class="select-all-row"
    *ngIf="filteredTemplates.length > 1"
    (click)="toggleSelectAllFiltered()"
  >
    <ion-icon [name]="allFilteredSelected ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
    <span>{{ 'PLANNER.SELECCIONAR_TODAS' | translate }}</span>
  </button>

  <div class="templates-list">
    <button
      type="button"
      class="template-row"
      *ngFor="let template of filteredTemplates; trackBy: trackByTemplateId"
      [class.template-row--selected]="isSelected(template)"
      (click)="toggle(template)"
    >
      <div class="template-row-header">
        <ion-icon
          class="template-row-check"
          [name]="isSelected(template) ? 'checkmark-circle' : 'ellipse-outline'"
        ></ion-icon>
        <span class="template-name">{{ template.name }}</span>
      </div>
      <div class="template-tags" *ngIf="template.tags?.length">
        <span class="template-tag" *ngFor="let tag of template.tags">{{ tag }}</span>
      </div>
      <div class="template-meta">
        <span *ngIf="blockCount(template)">{{ blockCount(template) }} {{ 'PLANNER.BLOQUES' | translate }}</span>
        <span>{{ exerciseCount(template) }} {{ 'TRAINER_COMMON.EXERCISES_LOWER' | translate }}</span>
      </div>
    </button>
  </div>
</ion-content>

<ion-footer class="template-picker-footer" *ngIf="selectedIds.size">
  <button type="button" class="confirm-button" (click)="confirmSelection()">
    {{ 'TRAINER_COMMON.ADD' | translate }} {{ selectedIds.size }} {{ (selectedIds.size === 1 ? 'TRAINER_COMMON.PL_WORKOUT_ONE' : 'TRAINER_COMMON.PL_WORKOUT_MANY') | translate }}
  </button>
</ion-footer>
