<ion-header>
  <div class="tf-page-header">
    <div class="tf-page-header__content">
      <div class="tf-page-header__back-section">
        <button class="tf-page-header__back-button" (click)="goBack()" [attr.aria-label]="'COMMON.BACK' | translate">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
      </div>
      <div class="tf-page-header__title-section">
        <h1 class="tf-page-header__title">{{ 'MANAGEMENT.HOME.TITLE' | translate }}</h1>
      </div>
      <div class="tf-page-header__actions"></div>
    </div>
  </div>
</ion-header>

<ion-content class="management-content">
  <div class="management-sections">
    <div class="section-group">
      <ion-card class="management-card" (click)="goToUsers()" tappable>
        <div class="management-item">
          <div class="item-icon-container users-icon">
            <ion-icon name="people-outline"></ion-icon>
          </div>
          <ion-label>
            <h3>{{ 'MANAGEMENT.HOME.USERS' | translate }}</h3>
            <p>{{ 'MANAGEMENT.HOME.USERS_DESC' | translate }}</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
        </div>
      </ion-card>

      <ion-card class="management-card" (click)="goToAppConfig()" tappable>
        <div class="management-item">
          <div class="item-icon-container config-icon">
            <ion-icon name="code-slash-outline"></ion-icon>
          </div>
          <ion-label>
            <h3>{{ 'MANAGEMENT.HOME.ENV_VARS' | translate }}</h3>
            <p>{{ 'MANAGEMENT.HOME.ENV_VARS_DESC' | translate }}</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
        </div>
      </ion-card>

      <ion-card class="management-card" (click)="goToDb()" tappable>
        <div class="management-item">
          <div class="item-icon-container db-icon">
            <ion-icon name="server-outline"></ion-icon>
          </div>
          <ion-label>
            <h3>{{ 'MANAGEMENT.HOME.DATABASE' | translate }}</h3>
            <p>{{ 'MANAGEMENT.HOME.DATABASE_DESC' | translate }}</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
        </div>
      </ion-card>

      <ion-card class="management-card" (click)="goToRepo()" tappable>
        <div class="management-item">
          <div class="item-icon-container repo-icon">
            <ion-icon name="git-branch-outline"></ion-icon>
          </div>
          <ion-label>
            <h3>{{ 'MANAGEMENT.HOME.REPOSITORY' | translate }}</h3>
            <p>{{ 'MANAGEMENT.HOME.REPOSITORY_DESC' | translate }}</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
        </div>
      </ion-card>

      <ion-card class="management-card" (click)="confirmRestart()" tappable>
        <div class="management-item">
          <div class="item-icon-container restart-icon">
            <ion-icon name="refresh-outline"></ion-icon>
          </div>
          <ion-label>
            <h3>{{ 'MANAGEMENT.HOME.RESTART_SERVER' | translate }}</h3>
            <p>{{ 'MANAGEMENT.HOME.RESTART_SERVER_DESC' | translate }}</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
