<ion-header class="ion-no-border">
  <app-page-header title="Ejercicios">
    <ng-container pageActions>
      <button
        type="button"
        class="tf-page-header__back-button"
        (click)="openExerciseForm()"
        aria-label="Nuevo ejercicio"
      >
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </ng-container>
  </app-page-header>
</ion-header>

<app-search-exercises
  *ngIf="listVisible"
  mode="library"
  (exerciseSelected)="openExerciseDetail($event)"
></app-search-exercises>
