<ion-header class="filter-header">
  <div class="filter-toolbar">
    <div class="header-content">
      <div class="title-section">
        <ion-title class="filter-title">{{ 'MANAGEMENT.USERS.FILTERS' | translate }}</ion-title>
      </div>
      <ion-buttons slot="end">
        <button class="close-action-button ripple-effect" (click)="apply()">
          <ion-icon name="close" color="primary"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </div>
</ion-header>

<ion-content class="filter-content">
  <div class="filter-container">
    <div class="filter-section">
      <div class="section-header">
        <ion-icon name="diamond-outline" class="section-icon"></ion-icon>
        <h3 class="section-title">{{ 'MANAGEMENT.USERS.SUBSCRIPTION' | translate }}</h3>
      </div>
      <div class="chips-container">
        <button
          type="button"
          class="modern-pill filter-chip"
          [class.is-active]="draftFilter.premiumOnly"
          (click)="togglePremiumFilter()"
        >
          <span class="label">{{ 'MANAGEMENT.USERS.FILTER_PREMIUM' | translate }}</span>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </div>

    <div class="filter-section">
      <div class="section-header">
        <ion-icon name="key-outline" class="section-icon"></ion-icon>
        <h3 class="section-title">{{ 'MANAGEMENT.USERS.FILTER_HASH' | translate }}</h3>
      </div>
      <div class="chips-container">
        <button
          type="button"
          class="modern-pill filter-chip"
          [class.is-active]="draftFilter.withHashOnly"
          (click)="toggleHashFilter()"
        >
          <span class="label">{{ 'MANAGEMENT.USERS.FILTER_HASH' | translate }}</span>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </div>

    <div class="filter-section">
      <div class="section-header">
        <ion-icon name="time-outline" class="section-icon"></ion-icon>
        <h3 class="section-title">{{ 'MANAGEMENT.USERS.ACTIVITY' | translate }}</h3>
      </div>
      <div class="chips-container">
        <button
          type="button"
          class="modern-pill filter-chip"
          [class.is-active]="isActivityActive"
          (click)="toggleActivityFilter()"
        >
          <span class="label">{{ 'MANAGEMENT.USERS.ACTIVITY' | translate }}</span>
          <ion-ripple-effect></ion-ripple-effect>
        </button>

        <button
          *ngIf="isActivityActive"
          type="button"
          class="modern-pill filter-chip"
          [class.is-active]="draftFilter.activitySort === 'desc'"
          (click)="setActivitySort('desc')"
        >
          <ion-icon name="arrow-down-outline"></ion-icon>
          <span class="label">{{ 'MANAGEMENT.USERS.DESCENDING' | translate }}</span>
          <ion-ripple-effect></ion-ripple-effect>
        </button>

        <button
          *ngIf="isActivityActive"
          type="button"
          class="modern-pill filter-chip"
          [class.is-active]="draftFilter.activitySort === 'asc'"
          (click)="setActivitySort('asc')"
        >
          <ion-icon name="arrow-up-outline"></ion-icon>
          <span class="label">{{ 'MANAGEMENT.USERS.ASCENDING' | translate }}</span>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </div>
  </div>
</ion-content>
