<ion-header class="ion-no-border">
  <app-page-header [title]="'TEMPLATES.BIBLIOTECA' | translate"></app-page-header>
</ion-header>

<ion-content class="templates-content" appScrollMemory="templates">
  <p class="page-hint">{{ 'TEMPLATES.TODO_LO_QUE_PREPARAS_PARA' | translate }}</p>

  <app-category-grid [categories]="categories"></app-category-grid>

  <h2 class="section-heading">{{ 'TEMPLATES.RECIENTES' | translate }}</h2>

  <!-- En escritorio, cada tipo es su propia columna en una grid (auto-fit:
       una columna sin datos ni skeleton no se renderiza, así que no reserva
       hueco); en móvil se apilan una debajo de otra. -->
  <div class="recent-columns">
    <section class="recent-column" *ngIf="loadingFullRoutineTemplates || fullRoutineTemplates.length">
      <div class="recent-column-header">
        <h3 class="recent-column-title">{{ 'TEMPLATES.RUTINAS' | translate }}</h3>
        <a class="recent-column-link" routerLink="/tabs/routine-templates">{{ 'TRAINER_COMMON.SEE_ALL_F' | translate }}</a>
      </div>

      <div class="recent-skeleton" *ngIf="loadingFullRoutineTemplates">
        <div class="skeleton-block recent-row-skeleton" *ngFor="let i of [1, 2, 3]"></div>
      </div>

      <div class="recent-list" *ngIf="!loadingFullRoutineTemplates">
        <button
          type="button"
          class="recent-row"
          *ngFor="let template of fullRoutineTemplates; trackBy: trackByFullRoutineTemplateId"
          (click)="openFullRoutineTemplate(template)"
        >
          <div class="recent-row-info">
            <span class="recent-row-name">{{ template.name }}</span>
            <span class="recent-row-meta">{{ fullRoutineTemplateMeta(template) }}</span>
          </div>
          <ion-icon name="chevron-forward-outline" class="recent-row-chevron"></ion-icon>
        </button>
      </div>
    </section>

    <section class="recent-column" *ngIf="loadingRoutineTemplates || routineTemplates.length">
      <div class="recent-column-header">
        <h3 class="recent-column-title">{{ 'TEMPLATES.ENTRENAMIENTOS' | translate }}</h3>
        <a class="recent-column-link" routerLink="/tabs/routines">{{ 'TRAINER_COMMON.SEE_ALL_F' | translate }}</a>
      </div>

      <div class="recent-skeleton" *ngIf="loadingRoutineTemplates">
        <div class="skeleton-block recent-row-skeleton" *ngFor="let i of [1, 2, 3]"></div>
      </div>

      <div class="recent-list" *ngIf="!loadingRoutineTemplates">
        <button type="button" class="recent-row" *ngFor="let rt of routineTemplates" (click)="openTemplate(rt)">
          <div class="recent-row-info">
            <span class="recent-row-name">{{ rt.name }}</span>
            <span class="recent-row-meta">{{ exerciseCount(rt) }} {{ 'TRAINER_COMMON.EXERCISES_LOWER' | translate }}</span>
          </div>
          <ion-icon name="chevron-forward-outline" class="recent-row-chevron"></ion-icon>
        </button>
      </div>
    </section>

    <section class="recent-column" *ngIf="loadingDietTemplates || dietTemplates.length">
      <div class="recent-column-header">
        <h3 class="recent-column-title">{{ 'TEMPLATES.DIETAS' | translate }}</h3>
        <a class="recent-column-link" routerLink="/tabs/diet-templates">{{ 'TRAINER_COMMON.SEE_ALL_F' | translate }}</a>
      </div>

      <div class="recent-skeleton" *ngIf="loadingDietTemplates">
        <div class="skeleton-block recent-row-skeleton" *ngFor="let i of [1, 2, 3]"></div>
      </div>

      <div class="recent-list" *ngIf="!loadingDietTemplates">
        <button type="button" class="recent-row" *ngFor="let dt of dietTemplates" (click)="openDietTemplate(dt)">
          <div class="recent-row-info">
            <span class="recent-row-name">{{ dt.name }}</span>
            <span class="recent-row-meta">{{ dietTemplateMeta(dt) }}</span>
          </div>
          <ion-icon name="chevron-forward-outline" class="recent-row-chevron"></ion-icon>
        </button>
      </div>
    </section>

  </div>

  <p
    class="empty-hint"
    *ngIf="
      !loadingRoutineTemplates && !loadingDietTemplates && !loadingFullRoutineTemplates &&
      !routineTemplates.length && !dietTemplates.length && !fullRoutineTemplates.length
    "
  >
    {{ 'TEMPLATES.TODAVIA_NO_HAS_CREADO_NADA' | translate }}
  </p>
</ion-content>
