<div class="tf-page-header">
  <div class="tf-page-header__content">
    <div class="tf-page-header__back-section">
      <button
        *ngIf="canGoBack; else menuButton"
        type="button"
        class="tf-page-header__back-button"
        (click)="goBack()"
        [attr.aria-label]="'COMMON.BACK' | translate"
      >
        <ion-icon name="chevron-back-outline" aria-hidden="true"></ion-icon>
      </button>
      <ng-template #menuButton>
        <ion-menu-button
          class="tf-page-header__back-button"
          [attr.aria-label]="'SHARED_COMPONENTS.ABRIR_MENU_DE_NAVEGACION' | translate"
        ></ion-menu-button>
      </ng-template>
    </div>
    <div class="tf-page-header__title-section">
      <h1 class="tf-page-header__title" *ngIf="title">{{ title }}</h1>
      <ng-content select="[pageTitle]"></ng-content>
    </div>
    <div class="tf-page-header__actions">
      <ng-content select="[pageActions]"></ng-content>
    </div>
  </div>
</div>
