<div class="planner-column" [class.planner-column--selected]="selected" [class.planner-column--dimmed]="dimmed">
  <div class="planner-column-header" (click)="selectColumn()">
    <div class="planner-column-title">
      <span class="planner-column-name">{{ split.name || ('PLANNER.WEEK_DEFAULT_PREFIX' | translate) }}</span>
      <button type="button" class="rename-btn" (click)="requestRename($event)" [attr.aria-label]="'PLANNER.RENAME_WEEK' | translate">
        <ion-icon name="pencil-outline"></ion-icon>
      </button>
    </div>
    <span class="planner-column-meta">
      {{ split.workouts.length }} {{ (split.workouts.length === 1 ? 'PLANNER.CARD_SINGULAR' : 'PLANNER.CARD_PLURAL') | translate }}
      · {{ totalExercises }} {{ 'TABLES.EXERCISE_PLURAL' | translate }}
    </span>
  </div>

  <div
    class="planner-column-body"
    cdkDropList
    [cdkDropListData]="split.workouts"
    (cdkDropListDropped)="onCardsDropped($event)"
  >
    <div
      class="planner-card-wrapper"
      *ngFor="let workout of split.workouts; let i = index; trackBy: trackByWorkoutId"
      cdkDrag
      [cdkDragData]="workout"
      (cdkDragStarted)="cardDragStarted.emit()"
      (cdkDragEnded)="cardDragEnded.emit()"
    >
      <button
        type="button"
        class="row-sync-toggle"
        [class.row-sync-toggle--active]="rowSync.isSynced(i)"
        (click)="toggleRowSync($event, workout._id, i)"
      >
        <ion-icon [name]="rowSync.isSynced(i) ? 'eye' : 'eye-outline'"></ion-icon>
        <span>{{ 'PLANNER.SYNC_ROW' | translate }}</span>
      </button>
      <ion-accordion-group
        [value]="isCardOpen(workout._id, i) ? 'open' : 'closed'"
        (ionChange)="onCardAccordionChange($event, workout._id, i)"
      >
        <app-workout
          [workout]="workout"
          [split]="split"
          [tableInUse]="table"
          [splitIndex]="0"
          [workoutColor]="'var(--ion-color-medium)'"
          [workoutIndex]="i"
          [plannerMode]="true"
          [isModal]="true"
          [stateSelected]="STATES.static"
          [savingWorkoutOrder]="false"
          [exercisePasteMode]="exerciseCopy.pasteMode()"
          [exerciseCopyActive]="exerciseCopy.copyActive()"
          [exerciseOriginWorkoutId]="exerciseCopy.originWorkoutId()"
          (exerciseCopyEvent)="exerciseCopy.onCopyEvent($event)"
        ></app-workout>
      </ion-accordion-group>
    </div>

    <div class="planner-column-empty" *ngIf="split.workouts.length === 0">
      <p>{{ 'PLANNER.NO_CARDS_YET' | translate }}</p>
    </div>
  </div>

  <button type="button" class="add-card-btn" [disabled]="addingCard" (click)="addCardOptions()">
    <ion-icon name="add-outline"></ion-icon>
    {{ 'PLANNER.ADD_CARD' | translate }}
  </button>

  <div class="panel-backdrop" *ngIf="showAddCardPanel" (click)="closeAddCardPanel()"></div>
  <div class="panel-sheet add-card-sheet" *ngIf="showAddCardPanel">
    <div class="panel-handle"></div>
    <h3 class="panel-title">{{ 'PLANNER.ADD_CARD' | translate }}</h3>
    <div class="add-card-options">
      <button type="button" class="add-card-option" (click)="chooseBlankCard()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span>{{ 'PLANNER.ADD_CARD_BLANK' | translate }}</span>
      </button>
      <button type="button" class="add-card-option" (click)="chooseCardFromTemplate()">
        <ion-icon name="download-outline"></ion-icon>
        <span>{{ 'PLANNER.ADD_CARD_FROM_TEMPLATE' | translate }}</span>
      </button>
    </div>
  </div>
</div>
